{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .mb-4{display: block;
    margin-left: auto;
    margin-right: auto}
</style>

<div class="example-wrapper">
    <h1>Bienvenue au GRAGHOSPITAL</h1><br>
    <h3>Les valeurs de notre centre hospitalier :</h3><br>
    <p>Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum, cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit, pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.</p>
    

</div>
{% endblock %}
